<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322834229416-r0t33qvgujv0gr56urg9iucj118cj6ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322834229416-r0t33qvgujv0gr56urg9iucj118cj6ab</string>
	<key>API_KEY</key>
	<string>AIzaSyAS3-O4vwQUX3c8ZYSOHrlfHW99dYPPrT4</string>
	<key>GCM_SENDER_ID</key>
	<string>322834229416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project310</string>
	<key>PROJECT_ID</key>
	<string>project310-9fc0a</string>
	<key>STORAGE_BUCKET</key>
	<string>project310-9fc0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322834229416:ios:c54cb2c46e3881769cfa9d</string>
</dict>
</plist>